.list-container {
    background-color:rgb(24, 26, 32);
    border-radius: 12px;
    
    li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px;
        border-radius: 12px;
    
        color: rgb(228, 228, 228); 
        font-family: 'Orienta', sans-serif; 
        font-size: 20px; 
        font-weight: bold;
        padding-bottom: 8px; 

        border-bottom: 3px solid #070708;
    
        .label {
            color: white;
            font-weight: normal;
        }
    }    
}
