.list-container {
    background-color:#e4ffe0;
    border-radius: 12px;
    
    li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px;
        border-radius: 12px;
    
        color: black; 
        font-family: 'Orienta', sans-serif; 
        font-size: 20px; 
        font-weight: bold;
        padding-bottom: 8px; 

        border-bottom: 3px solid rgb(255, 255, 255);
    
        .label {
            color: black;
            font-weight: normal;
        }
    }    
}
