<div class="chart-container">
  <h1>Bitcoin Market Value</h1>
  <ngx-charts-line-chart
    [view]="chartConfig.view"
    [scheme]="chartConfig.colorScheme"
    [showXAxisLabel]="chartConfig.showXAxisLabel"
    [showYAxisLabel]="chartConfig.showYAxisLabel"
    [xAxis]="chartConfig.xAxis"
    [yAxis]="chartConfig.yAxis"
    [xAxisLabel]="chartConfig.xAxisLabel"
    [yAxisLabel]="chartConfig.yAxisLabel"
    [showGridLines]="chartConfig.showGridLines"
    [timeline]="chartConfig.timeline"
    [results]="chartItems"
    [trimXAxisTicks]="chartConfig.trimXAxisTicks"
    [maxXAxisTickLength]="chartConfig.maxXAxisTickLength"
    [maxYAxisTickLength]="chartConfig.maxYAxisTickLength"
    [autoScale]="chartConfig.autoScale"
  ></ngx-charts-line-chart>
</div>