<div class="home">
    <div class="column1">
        <h2>Opportunities</h2>
        <app-list [list]="opList" [labelA]="'Trade'" [labelB]="'Profit'" [labelC]="'Seconds on the positive'"></app-list>
    </div>
    <div class="column2">
        <div class="card-container">
            <app-card></app-card>
        </div>
        <div class="chart-container">
            <app-chart></app-chart>
        </div>
    </div>
    <div class="column3">
        <h2>Exchanges</h2>
        <app-list [list]="exchangesList" [labelA]="'Market'" [labelB]="'Cost'" [labelC]="'Activity'" ></app-list>
    </div>
</div>
  