<div class="card-info">
    <div class="exchange1 card column">
        <ng-select [items]="exchangeList"
            class="custom"
            placeholder="Buy at Exchange A" 
            bindLabel="name" 
            bindValue="name" 
            (change)="selectCoinA($event)">
        </ng-select>
        <div class="value" *ngIf="exchangeA.value">
            <p>Buy for <i class="fa fa-usd"></i>{{ exchangeA.value}}</p>
        </div>
    </div>
    <div class="exchange2 card column">
        <ng-select [items]="exchangeList" 
            class="custom"
            placeholder="Sell at Exchange B" 
            bindLabel="name" 
            bindValue="name" 
            (change)="selectCoinB($event)">
        </ng-select>
        <div class="value" *ngIf="exchangeB.value">
            <p>Sell for <i class="fa fa-usd"></i>{{ exchangeB.value }}</p>
        </div>
    </div>
    <div class="oportunity card">
        <div *ngIf="oportunity" class="oportunity-info">
            <p>Positive for {{ oportunity.duration }} seconds</p>
            <p>With an investment of ${{ oportunity.investment}}</p>
            <p>You would profit ${{ oportunity.profit}}</p>
        </div>
    </div>
</div>