@import "~@ng-select/ng-select/themes/default.theme.css";
body {
    font-family: Didot;
    color: rgb(228, 228, 228);
    background-color: #070708;
    margin:20px
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, 'calibri', sans-serif; }

h1 { color: rgb(228, 228, 228); font-family: 'calibri', sans-serif; font-size: 65px; font-weight: bolder; line-height: 60px; margin: 10px 0 20px; text-transform: uppercase; margin: 10px 0 24px; text-align: center; }


h2 { font-size: 30px; letter-spacing: -1px; color: rgb(228, 228, 228); text-transform: uppercase; margin: 10px 0 24px; text-align: center; line-height: 50px; }


p { color: rgb(228, 228, 228); font-family: 'calibri', sans-serif; font-size: 16px; line-height: 24px; margin: 0 0 24px; text-align: center; }


a { color: rgb(228, 228, 228); text-decoration: none; text-align: right; padding: 15px; font-size: 20px; }


a:hover { color: #da9650; text-decoration: blink; }